.menuDiv{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background-color: #070404;
    color: rgb(249, 249, 249);
    margin-bottom: 10px;
    /* border: 1px solid black; */
}
.menuDiv1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background-color: #FFFBF5;
    color: rgb(9, 2, 2);
    margin-bottom: 10px;
    /* border: 1px solid black; */
}
.menuDiv2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    color: rgb(14, 2, 2);
    margin-bottom: 10px;
    /* border: 1px solid black; */
}
.menu-button{
    background-color:#fff700;
    border-radius: 25px;
    width: 150px;
    color: rgb(11, 5, 5);
    height: 30px;
}

.container{
    margin-right: 20px;
}
.menuBar{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid  black; */
}
.Pizza-title{
    /* color: yellow; */
   
    width: 340px;
    font-size: 40px;
    margin: 90px 90px 50px;
}
.Pizza-title span{
    color: yellow;
   
}

.link-all-button{
    background-color: yellow;
    border-radius: 20px;
    padding: 5px;
    width: 110px;
}
.paragraphTag{
    width: 286px;
    font-size: 14px;
    margin: -34px 149px 29px;
    color:black
}
.Next-Button{
    display: flex;
    justify-content: space-evenly;

}