.Dish{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:400px;
    margin: auto;
    background-color: #F7EFE5;   
}
.link-button{
    background-color: rgb(227, 243, 6);
    border-radius: 25px;
    width: 150px;
    color: white;
    font-size: 17px;
    border-color: white;
   
}

.container{
    margin-right: 20px;
}
.spicy-biryani{
    width: 450px;
    font-size: 44px;
    font-weight: 700;
    margin: 27px 100px 24px;
   
}
